<h2><%= @title%></h2>

<a href="<%= generate_product_categories_path%>" class="btn btn-sm btn-warning my-2">Generate Product Categories</a>
<a href="<%= product_categories_api_path%>" class="btn btn-sm btn-info my-2">Product Categories Api</a>
<a href="<%= new_product_category_path%>" class="btn btn-sm btn-success my-2">Create Product Category</a>

<div class="listing">

  <ul>
    <% @product_categories_to_html.each do |category| %>
      <li><%= category %></li>
    <% end %>
  </ul>

  <div class="my-3">
    <pre><%= @product_categories_nested.inspect %></pre>
    <%= test_helper(@product_categories) %>
  </div>

  <ul>
    <% @product_categories.each do |product_category| %>
    <li>
      <div>
        <%#= link_to product_category.name, product_category %>
        <div class="product_category-title-link">
          <a href="<%= product_categories_path+"/#{product_category.id}" %>"><%= product_category.name%></a>          
        </div>        
        <div>
          <%= link_to "Delete", product_category_path(product_category), class: "crud-action", method: :delete, data: { confirm: 'Are you sure?' } %>
          <a href="<%= edit_product_category_path(product_category) %>" class="crud-action">Edit</a>
          <a href="<%= product_category_path(product_category) %>" class="crud-action">View</a>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
