<h2><%= @title%></h2>

<a href="<%= generate_products_path%>" class="btn btn-sm btn-warning my-2">Generate Dummy Products</a>
<a href="<%= products_api_path%>" class="btn btn-sm btn-info my-2">Products Api</a>
<a href="<%= new_product_path%>" class="btn btn-sm btn-success my-2">Create Product</a>

<div class="listing">

  <%= "No products found" if @pagination[:total] == 0 %>

  <% if @pagination[:total] > 0 %>
    <div>
      <%= "Showing "+@pagination[:showing].to_s+" results, from "+@pagination[:total].to_s+" total" if @pagination[:total] > 0 %>
    </div>

    <div>
      <% if @pagination[:page] > 1%>
        <a href="<%= products_page_path%>/<%= @pagination[:page]-1%>">Previous</a>
      <% end %>
      Page <%= @pagination[:page]%> of <%= @pagination[:pages]%> 

      <% if @pagination[:page] < @pagination[:pages]%>
        <a href="<%= products_page_path%>/<%= @pagination[:page]+1%>">Next</a>
      <% end %>
    </div>
  <% end %>

  <hr />

  <form class="search-form">
    <div class="form-group">
      <label>Search</label>
      <input class="form-control" type="text" name="product_name" value="<%= request.params[:product_name]%>" placeholder="">
    </div>
    <button class="btn btn-sm btn-success">Search</button>
  </form>

  <hr />

  <ul>
    <% @products.each do |product| %>
    <li>
      <!--<pre><%= product.inspect%></pre>-->
      <div>
        <%#= link_to product.name, product %>
        <div class="product-title-link">
          <a href="<%= products_path+"/#{product.id}" %>"><%= product.name%></a>
        </div>

        In category: <%= product.category_name %>

        <%# WARNING: Investigate further to find out where selects happen%>
        <!-- In category: <%= product.product_category.name %> -->

        <div>
          <%= link_to "Delete", product_path(product), class: "crud-action", method: :delete, data: { confirm: 'Are you sure?' } %>
          <a href="<%= edit_product_path(product) %>" class="crud-action">Edit</a>
          <a href="<%= product_path(product) %>" class="crud-action">View</a>          
        </div>

      </div>
    </li>
    <% end %>
  </ul>
</div>
