<a href="<%= products_path%>" class="btn btn-sm btn-primary mt-2">All Products</a>

<div class="row">
	<div class="col-sm-12">
		<div>
			<h2><%= @product.name%></h2>
		</div>
		<hr />
		<h6>Product Description</h6>
		<div>
			<%= @product.description %>
		</div>
		<hr />
		<div>
			<%= link_to "Delete", product_path(@product), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
			<%= link_to "Edit", edit_product_path(@product), class: "btn btn-sm btn-warning" %>			
		</div>
	</div>
</div>